.t_resource_page {
  font-size: 12px;
}
.t_resource_page .resource_item {
  margin-top: 10px;
}
.t_resource_page .resource_item_info {
  background-color: #fff;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
}
.t_resource_page .resource_item_info .pic {
  display: inline-block;
  vertical-align: middle;
  width: 1.17333333rem;
  height: 1.17333333rem;
  margin-right: 0.32rem;
  position: relative;
}
.t_resource_page .resource_item_info .pic img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.t_resource_page .resource_item_info .text {
  display: inline-block;
  vertical-align: middle;
}
.t_resource_page .resource_item_info .text .title {
  width: 7.6rem;
  font-size: 14px;
  line-height: 0.88rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #373737;
}
.t_resource_page .resource_item_info .text .time {
  color: #888888;
  line-height: 0.66666667rem;
}
.t_resource_page .resource_person_info {
  background-color: #fff;
  font-size: 12px;
  line-height: 0.98666667rem;
  padding: 0 15px;
  color: #1b9fe2;
}
