@rem:75rem;
.t_resource_page{
    font-size: 12px;
    .resource_items{
        margin-top: 10px;
    }
    .resource_item_info{
        background-color: #fff;
        padding: 10px 15px;
        border-bottom: 1px solid #e0e0e0;
        .pic{
            display: inline-block;
            vertical-align: middle;
            width: 88/@rem;
            height: 88/@rem;
            margin-right: 24/@rem;
            position: relative;
            background: url('../../../common/assets/img/unknown.png') no-repeat center center;
            background-size: cover;
        }
        .avi{
            background: url('../../../common/assets/img/avi.png') no-repeat center center;
            background-size: cover;
        }
        .doc{
            background: url('../../../common/assets/img/doc.png') no-repeat center center;
            background-size: cover;
        }
        .exe{
            background: url('../../../common/assets/img/exe.png') no-repeat center center;
            background-size: cover;
        }
        .html{
            background: url('../../../common/assets/img/html.png') no-repeat center center;
            background-size: cover;
        }
        .mp4{
            background: url('../../../common/assets/img/mp4.png') no-repeat center center;
            background-size: cover;
        }
        .mpg{
            background: url('../../../common/assets/img/mpg.png') no-repeat center center;
            background-size: cover;
        }

        .pdf{
            background: url('../../../common/assets/img/pdf.png') no-repeat center center;
            background-size: cover;
        }
        .ppt,.pptx{
            background: url('../../../common/assets/img/ppt.png') no-repeat center center;
            background-size: cover;
        }
        .rar{
            background: url('../../../common/assets/img/rar.png') no-repeat center center;
            background-size: cover;
        }
        .rm{
            background: url('../../../common/assets/img/rm.png') no-repeat center center;
            background-size: cover;
        }
        .txt,.text{
            background: url('../../../common/assets/img/txt.png') no-repeat center center;
            background-size: cover;
        }
        .wmv{
            background: url('../../../common/assets/img/wmv.png') no-repeat center center;
            background-size: cover;
        }
        .word{
            background: url('../../../common/assets/img/word.png') no-repeat center center;
            background-size: cover;
        }
        .xls,.xlsx{
            background: url('../../../common/assets/img/xls.png') no-repeat center center;
            background-size: cover;
        }
        .zip{
            background: url('../../../common/assets/img/zip.png') no-repeat center center;
            background-size: cover;
        }
        .texts{
            width: 570/@rem;
            display: inline-block;
            vertical-align: middle;
            .title{
                width: 570/@rem;
                font-size: 14px;
                line-height: 66/@rem;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #373737;
            }
            .time{
                color: #888888;
                line-height: 50/@rem;
            }
        }
    }
    .resource_person_info{
        background-color: #fff;
        font-size: 12px;
        line-height: 74/@rem;
        padding: 0 15px;
        color: #1b9fe2;
    }
}