@rem:75rem;
.research_page{
    font-size: 12px;
    .type_list_box{
        padding: 24/@rem 30/@rem;
        div{
            background-color: #fff;
            color: #696969;
            width: 166/@rem;
            height: 50/@rem;
            line-height: 50/@rem;
            text-align: center;
            margin-right: 22/@rem;
            border-radius: 25/@rem;
        }
        .active{
            background-color: #1b9fe2;
            color: #fff;
        }
    }
    .activit_item{
        background-color: #fff;
        .title{
            margin: 0 15px;
            .type{
                width: 42/@rem;
                height: 34/@rem;
                color: #fff;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
            }
            .under_line{
                background: url('../img/start.png') no-repeat center center;
                background-size: 120%;
            }
            .in_line{
                background: url('../img/starting.png') no-repeat center center;
                background-size: 120%;
            }
            .all_line{
                background: url('../img/started.png') no-repeat center center;
                background-size: 120%;
            }
            .state{
                display: inline-block;
                vertical-align: middle;
                padding: 0 4px;
                line-height: 30/@rem;
            }
        }
    }
}