.lesson_card_item{
    width: 48%;
    float: left;
    &:nth-of-type(2n){
        float: right;
    }
    .pic_box{
        height: 32vw;
        img{
            height: 100%;
        }
    }
    .lesson_card_info{
        background-color: #f4f5f9;
        padding: 6px 10px;
        line-height: 20px;
        .title{
            font-size: 14px;
        }
        .person_info{
            font-size: 12px;
        }
    }
}