.information_item {
  padding: 10px 0;
  border-bottom: 2px solid #f9f9f9;
}
.information_item_title {
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  height: 36px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.information_item_title span {
  margin-right: 6px;
}
.information_item_title .notice {
  color: #399bda;
}
.information_item_title .information {
  color: #e37147;
}
.information_item_title .propaganda {
  color: #44c073;
}
.information_item_title .clam_line {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 1em;
  background-color: #fff;
  background: -webkit-linear-gradient(left, transparent, #fff 55%);
  background: -o-linear-gradient(right, transparent, #fff 55%);
  background: -moz-linear-gradient(right, transparent, #fff 55%);
  background: linear-gradient(to right, transparent, #fff 55%);
}
.information_item_time {
  font-size: 12px;
  padding-right: 0.5em;
  color: #c2c2c2;
  text-align: right;
  line-height: 22px;
}
