.article_page {
  font-size: 12px;
}
.article_page .items_box div {
  width: 2.18666667rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  background-color: #fff;
  border-radius: 0.33333333rem;
  text-align: center;
  margin: 15px 0 0px 0.25066667rem;
  color: #9c9c9c;
}
.article_page .items_box div:nth-of-type(4n) {
  margin-right: 0;
}
.article_page .items_box .active {
  background-color: #1a9fe2;
  color: #fff;
}
.article_page .article_item {
  background-color: #fff;
  margin-top: 15px;
}
.article_page .article_info {
  background-color: #fff;
  padding: 0 15px;
  border-bottom: 1px solid #e0e0e0;
}
.article_page .article_info .title {
  padding: 10px 0 0 0;
  font-size: 14px;
  line-height: 0.93333333rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #2f2f2f;
}
.article_page .article_info .time {
  color: #878787;
  line-height: 0.66666667rem;
}
.article_page .article_person_info {
  background-color: #fff;
  padding: 0 15px;
  line-height: 1.01333333rem;
  color: #1b9fe2;
}
