.common_title {
  height: 24px;
  padding: 0 15px;
  padding-top: 12px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
}
.common_title span.line {
  float: left;
  width: 2px;
  height: 14px;
  background-color: #57b6e7;
  margin-right: 8px;
  margin-top: -1px;
}
.common_title span.text {
  float: left;
  font-size: 14px;
  line-height: 14px;
  color: #353535;
}
.common_title .more {
  float: right;
  font-size: 14px;
  line-height: 14px;
  color: #399bda;
  cursor: pointer;
}
