.studio_items {
  background-color: #fff;
  padding: 8px 15px;
  margin-bottom: 10px;
}
.studio_items .pic_box {
  width: 2.44444444rem;
  height: 2.44444444rem;
  border-radius: 1.22222222rem;
  overflow: hidden;
}
.studio_items .pic_box img {
  width: 100%;
  height: 100%;
}
.studio_items .studio_info {
  width: 6.5rem;
}
.studio_items .studio_info .name {
  font-size: 0.38888889rem;
  line-height: 0.66666667rem;
  font-weight: 600;
  color: #2a2a2a;
}
.studio_items .studio_info .subject {
  font-size: 0.33333333rem;
  line-height: 0.61111111rem;
  color: #878787;
  margin-bottom: 6px;
}
.studio_items .studio_info .num {
  text-align: center;
}
.studio_items .studio_info .num .num_info {
  color: #1b9fe2;
  font-size: 0.33333333rem;
  line-height: 0.55555556rem;
}
.studio_items .studio_info .num .num_type {
  color: #878787;
}
