body {
  padding-bottom: 50px;
}
.rank_type {
  border: 1px solid #ebebeb;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  text-align: center;
  border-radius: 12px;
  width: 22%;
  box-sizing: border-box;
  margin: 0 4% 8px 0;
}
.rank_type:nth-of-type(4n) {
  margin-right: 0;
}
.rank_type_list {
  padding-top: 8px;
}
.rank_active {
  color: #38a6de;
}
.rank_list {
  padding: 15px 15px 30px;
}
.rank_list .rank_list_box li {
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  font-weight: normal;
  background-color: #efefef;
  color: #666666;
}
.rank_list .rank_list_box li div {
  float: left;
}
.rank_list .rank_list_box li .rank_num {
  width: 18%;
  margin-right: 15%;
  text-align: center;
}
.rank_list .rank_list_box li .studio_name {
  width: 44%;
}
.rank_list .rank_list_box li .visitor_num {
  width: 17%;
  text-align: right;
}
.rank_list .rank_list_box .rank_list_head {
  background-color: #9d9d9d;
  color: #fff;
}
.rank_list .rank_list_box .f_red {
  background-color: #f5cfd3;
}
.rank_list .rank_list_box .f_red .rank_num {
  color: transparent;
  background: url('../../../common/assets/svg/card1.svg') no-repeat center center;
  background-size: 42%;
}
.rank_list .rank_list_box .f_blue {
  background-color: #d1e7f4;
}
.rank_list .rank_list_box .f_blue .rank_num {
  color: transparent;
  background: url('../../../common/assets/svg/card2.svg') no-repeat center center;
  background-size: 38%;
}
.rank_list .rank_list_box .f_yellow {
  background-color: #f3e7d8;
}
.rank_list .rank_list_box .f_yellow .rank_num {
  color: transparent;
  background: url('../../../common/assets/svg/card3.svg') no-repeat center center;
  background-size: 42%;
}
.carousel_bottom .slider-decorator-0 {
  bottom: -24px !important;
}
.star_teacher_info {
  height: 140px;
}
.star_teacher_title {
  font-size: 12px;
  line-height: 32px;
  color: #5e5e5e;
}
.lesson_pic {
  float: left;
  width: 48%;
  height: 124px;
}
.lesson_info {
  float: right;
  width: 48%;
  font-size: 12px;
  line-height: 24px;
}
.lesson_info .lesson_info_title {
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  position: relative;
  margin-bottom: 40px;
}
.lesson_info .lesson_info_person,
.lesson_info .lesson_info_evaluate {
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.subject_item {
  float: left;
  width: 48%;
  margin-bottom: 10px;
}
.subject_item:nth-of-type(2n) {
  float: right;
}
.studio_item {
  float: left;
  width: 48%;
  margin-bottom: 10px;
}
.studio_item:nth-of-type(2n) {
  float: right;
}
.studio_item_info {
  font-size: 12px;
  line-height: 24px;
  text-indent: 1em;
}
.studio_item_info .studio_item_info_title {
  font-size: 14px;
  color: #474747;
  padding-top: 6px;
}
.studio_item_info .blue {
  color: #46a8d7;
}
.studio_item_info .ccc {
  color: #474747;
}
.statistics {
  width: 24%;
  text-align: center;
  margin-bottom: 10px;
}
.statistics .statistics_title {
  font-size: 12px;
  line-height: 24px;
  color: #696969;
}
.statistics .num_box {
  font-size: 12px;
  line-height: 20px;
}
.statistics .num_box span {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}
