.studio_bg{
    background-color: #1a9fe2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-filter: blur(65px); /* Chrome, Opera */
    -moz-filter: blur(65px);
    -ms-filter: blur(65px);
    filter: blur(65px);
    overflow: hidden;
    height: 130px;
    position: relative;
    z-index: -10;
}
.studio_info{
    border-top: 1px solid #fff;
    .studio_info_pic{
        width: 88px;
        height: 88px;
        border: 8px solid #fff;
        border-radius: 52px;
        margin: -52px auto 0;
        img{
            width: 100%;
            height: 100%;
            border-radius: 44px;
        }
    }
    .studio_name{
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #242424;
    }
    .studio_subject{
        font-size: 12px;
        line-height: 24px;
        color: #a5a5a5;
        text-align: center;
    }
    .studio_data_num{
        text-align: center;
        line-height: 20px;
        padding: 6px 0;
        .num{
            color: #399bda;
            font-size: 18px;
        }
        .num_label{
            color: #b9b9b9;
            font-size: 12px;
        }
    }
}


.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
    width: 50% !important;
}
.fl_box .statistics{
    float: left;
    margin-right: 1%;
    &:nth-of-type(7){
        width: 48%;
    }
}
.statistics{
    width: 24%;
    text-align: center;
    margin-bottom: 10px;
    .statistics_title{
        font-size: 12px;
        line-height: 24px;
        color: #696969;
    }
    .num_box{
        font-size: 12px;
        line-height: 20px;
        span{
            font-size: 22px;
            line-height: 30px;
            font-weight: 600;
        }
        
    }
    &:nth-of-type(3),&:nth-of-type(4) span{
        color: #2e9dcb;
    }
    &:nth-of-type(5),&:nth-of-type(6) span{
        color: #ec4646;
    }
    &:nth-of-type(7),&:nth-of-type(8) span{
        color: #0ca924;
    }
}
.visitor_item{
    width: 15%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    .pic_box{
        width: 100%;
        img{
            border-radius: 100px;
            height: 100%;
            width: 100%;
            vertical-align: top;
        }
    }
    .person{
        color: #1b9fe2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .time{
        color: #696968;
    }
}
.visite_num_item{
    text-align: center;
    .visite_type{
        font-size: 12px;
        color: #90908d;
        line-height:20px;
    }
    .visite_num{
        color: #1b9fe2;
        font-size: 26px;

    }
}